@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Dosis:wght@300;400;500&display=swap');

html {
    height: 100%;
}
body, .pageContainer, .contentContainer, .flexContainer {
    height: inherit;
}

.content {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
}
.uploadText, .title, .censorText, .decensorText, #decensorButton {
    font-family: 'Crete Round', serif;
    text-align: center;
    font-size: 300%;
}

.dataFlex {
    margin-bottom: 8vh;
}

.navContainer {
    margin-bottom: 15vh;
    margin-top: auto;
}

.icon-eye, .icon-eye-blocked {
    font-size: 12.5em;
}
.divider {
    margin: 0 20px;
    width: 1px;
    border: 1px solid dimgrey;
}

.index-divider {
    margin: 0 100px;
    width: 1px;
    border: 1px solid dimgrey;
}

.icon-folder-upload {
    font-size: 4em;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    background-color: white;
    padding: 40px;
}
.ui-dialog-titlebar {
    font-weight: bold;
    color: red;
}
.ui-dialog-buttonset {
    text-align: right;
}
.keyContainer {
    font-family: 'Crete Round', serif;
}

.zoomHandler {
    padding: 10px 0;
    font-family: 'Crete Round', serif;
    font-size: 1.1em;
}

.zoomHandler input {
    margin-left: 10px;
}

#zoomNumber {
    align-self: center;
    font-family: 'Dosis', sans-serif;
}

.keyContainer label {
    font-size: 1.3em;
}

.filenameModifyField {
    padding-top: 10px;
}

.filenameModifyField label{
    font-size: 1.1em;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-bottom: 0;
}
#decensorButton {
    padding-top: 15px;
}
.stateControlsContainer {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
}

.stateControlsContainer .divider {
    border: 1px solid lightgray;
}

.toolbox img {
    max-width: 40px;
    max-height: 40px;
}

#addToolButton {
    width: 30px;
    height: 30px;
}

.toolbox li {
    padding: 5px;
}

.toolbox li:hover {
    background-color: aqua;
}

.toolbox ul {
    padding-left: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    list-style-type: none;
}
.activeTool {
    background-color: lightgray;
}

.scalarHolder {
    align-self: stretch;
}

.slideContainer {
    align-self: stretch;
}

.rangeHolder {
    flex-grow: 1;
    margin-right: 5px;
}

#toolScalarRange {
    width: 100%;
}

.pageContainer {
    position: relative;
    margin: 0 auto;
}

.canvas {
    position: relative;
    max-width: 80vw;
    margin: 0 auto;
}
.left {
    position: absolute;
    min-width: 20vw;
    right: 100%;
    padding-right: 40px;
}
.right {
    position: absolute;
    left: 100%;
    padding-left: 10px;
}
.navLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-right: 10px;
}

.versionRight {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10px;
}
h3 {
    font-family: 'Crete Round', serif;
}

label {
    font-family: 'Crete Round', serif;
}

.wall-of-text p {
    padding-top: 15px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.versionContainer {
    text-align: center;
    padding: 10px;
    font-family: 'Crete Round', serif;
    color: rgba(0, 0, 0, 0.5);
}
.versionContainer a {
    color: rgba(0, 123, 255, 0.5);
}
.versionContainer a:hover {
    color: #007bff
}

.navigationContainer {
    font-family: 'Crete Round', serif;

    margin: 10px;

}
.navigationContainer a {
    padding: 10px;
    color: black;

}

.FAQHeading {
    padding-top: 130px;
    font-size: 3em;
    font-family: 'Crete Round', serif;
}

.faqHR {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80vw;
}

.faqContainer {
    max-width: 90vw;
    padding: 40px 0;
}

.faqItem {
    padding-bottom: 20px;
}

.faqItemHeading {
    font-family: 'Crete Round', serif;
    font-size: 1.3em;
}
.faqItemHeading:before {
    content: "Q: ";
}

.faqItemDescription {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    padding: 5px 15px;
}

.ui-dialog-title {
    font-family: 'Crete Round', serif;
    color: black;
    font-size: 1.3em;
}



.ui-dialog {
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding: 0;
}

.ui-dialog-titlebar {
    padding: 30px 40px 20px;
    text-align: center;
}


.ui-button {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    background-color: white;
}
.ui-dialog-content {
    padding: 0 40px;
}

.systemMessage .ui-dialog-content {
    font-family: 'Dosis', sans-serif;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 500;
}

.errorDialog .ui-dialog-title {
    color: red;
}

.errorDialog .ui-dialog-content {
    padding-bottom: 20px;
}

.ui-dialog p {
    padding: 0;
}
.ui-dialog-buttonpane {
    padding-bottom: 20px;
    padding-right: 20px;
}

#downloadButton {
    font-family: 'Crete Round', serif;
    text-align: center;
    font-size: 2em;
    padding-bottom: 15px;
}
input[type=number] {
    font-family: 'Dosis', sans-serif;
    width: 6ch;
    max-width: 100%;
}

.zoomHandler input[type=number] {
    width: 4ch;
}

.undoButton:hover, .redoButton:hover, #downloadButton:hover, .zoomHover:hover {
    color: aqua;
}

.zoomDialog .ui-dialog-titlebar {
    padding: 20px;
}

.zoomDialog canvas {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#zoomStatus.toggled {
    color: aqua;
}

.fileDistinction {
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
}

#decensorUpload, #censorUpload {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}