@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Dosis:wght@300&display=swap');

html {
    height: 100%;
}
body, .pageContainer, .contentContainer, .flexContainer {
    height: inherit;
}

.content {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
}
.uploadText, .title, .censorText, .decensorText, #decensorButton, #downloadButton {
    font-family: 'Crete Round', serif;
    text-align: center;
    font-size: 300%;
}

.dataFlex {
    margin-bottom: 8vh;
}

.navContainer {
    margin-bottom: 15vh;
    margin-top: auto;
}

.icon-eye, .icon-eye-blocked {
    font-size: 12.5em;
}
.divider {
    margin: 0 100px;
    width: 1px;
    border: 1px solid dimgrey;
}
.icon-folder-upload {
    font-size: 4em;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    background-color: white;
    padding: 40px;
}
.ui-dialog-titlebar {
    font-weight: bold;
    color: red;
}
.ui-dialog-buttonset {
    text-align: right;
}
.keyContainer {
    padding-top: 25px;
    font-family: 'Crete Round', serif;
    font-size: 150%;
}
#canvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-bottom: 0;
}
#decensorButton, #downloadButton {
    padding-top: 15px;
}
.stateControlsContainer {
    margin: 30px;
    font-family: 'Crete Round', serif;
}

.stateControlsContainer .divider {
    border: 1px solid lightgray;
}

.toolbox img {
    max-width: 40px;
    max-height: 40px;
}

#addToolButton {
    width: 30px;
    height: 30px;
}

.toolbox li {
    padding: 5px;
}

.toolbox ul {
    padding-left: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    list-style-type: none;
}
.activeTool {
    background-color: lightgray;
}
#toolScalarRange, #toolScalarNumber {
    width: 20vw;
}

.canvas {
    position: relative;
    max-width: 80vw;
    margin: 0 auto;
}
.right {
    position: absolute;
    left: 100%;
    padding-left: 10px;
}
.left {
    position: absolute;
    min-width: 20vw;
    right: 100%;
    padding-right: 40px;
}
h3 {
    font-family: 'Crete Round', serif;
}

label {
    font-family: 'Crete Round', serif;
}

.wall-of-text p {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}